// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.books_button {
    a {
        margin: 0 8px;
    }
}

.books_table {
    tr:hover {
        cursor: pointer;
    }
}

.body{
  padding-top: 30px;
}

.navbar{
  height: 60px;
  padding: 0;
  margin-bottom: 20px;
}

.navbar {
  h1 {
    margin: 0;
    color: #FFF;
  }
}

.search_form {
  margin-left: 20px;
  float: left;
  width: 200px;
}

.paginate {
  float: right;
  margin-right: 20px;
}
